@font-face {
    font-family: "FiraSans";
    src: url("assets/Fonts/FiraSans-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "FiraSans";
    src: url("assets/Fonts/FiraSans-Bold.otf");
    font-weight: 700;
}